---
import BaseLayout from "../../layouts/base.astro";
import { getCollection } from "astro:content";
import { format } from "date-fns";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.published_date.valueOf() - a.data.published_date.valueOf()
);
---

<BaseLayout>
  <main class="mx-auto flex-1 mt-10 md:mt-20 max-w-[65ch] p-4">
    <ul>
      {
        posts.map((post) => (
          <li class="pb-10 mb-10 border-b border-b-gray-700 last:border-b-0">
            <a href={`/blog/${post.slug}/`}>
              <h2 class="font-bold text-2xl">{post.data.title}</h2>
              <span class="text-gray-300 text-xs">
                {format(post.data.published_date, "do MMMM yyyy")}
              </span>

              <p class="text-gray-300 text-sm mt-4 leading-relaxed">
                {post.data.description}
              </p>
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</BaseLayout>
